

.btn-custom,.btn-custom:hover {
    border: 1px solid #ff80ab;
}
.pace,.title-border::before,.title-border::after{
    border: 2px solid #ff80ab;
}
.navbar,.title-border,.rs-round,.time-line:before,.btn-custom,.btn-custom:hover,.pace .pace-progress {
    background-color: #ff80ab;
}

.presonal-inform i,.skill i,.rex-item h3,#work  .lrs-list-protfolio .fil-cat.active,
#work .lrs-projects .lrs-project .lrs-project-content,.section-title h2,.pace .pace-progress {
    color: #ff80ab;
}

#work  .lrs-list-protfolio .fil-cat.active {
    border-bottom: 2px solid #ff80ab;
}

.form-control:focus {
    border-color:#ff80ab;
    box-shadow: #ff80ab;
}